/* Reset some default styles for a clean slate */
body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the whole page */
body {
    background-color: #f5f5f5; /* Placeholder background color */
    font-family: Arial, sans-serif; /* Choose your preferred font */
}

/* Center the text within h1 elements */
h1 {
    text-align: center;
}

#portfolio-title {
    font-size: 2em; /* Adjust the size as needed */
    text-align: center; /* Center the title horizontally */
    margin-top: 20px; /* Add spacing from the top */
    color: #333; /* Set the color for the title */
}

/* Style the introduction section */
#intro {
    background-color: #6FA2E8; /* Placeholder background color */
    color: #fff; /* Text color for this section */
    padding: 20px;
}

/* Apply a common style to project sections */
section {
    padding: 20px;
}

/* Style individual project sections */
#project1 {
    background-color: #8A6FE8; /* Placeholder background color */
    color: #fff; /* Text color for this section */
}

#project2 {
    background-color: #6F7BE8; /* Placeholder background color */
    color: #fff; /* Text color for this section */
}

#project3 {
    background-color: #6FC8E8; /* Placeholder background color */
    color: #fff; /* Text color for this section */
}

#project4 {
    background-color: #B26FE8; /* Placeholder background color */
    color: #fff; /* Text color for this section */
}

/* Style links (a elements) */
a {
    color: white; /* Purple link color */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold;
}

/* Change link color on hover */
a:hover {
    color: #cccccc;  /* A darker purple color for hover effect */
    
}
