/* Reset some default styles for a clean slate */
body, h1, h2, ul {
    margin: 0;
    padding: 0;
    
}

img {
    max-width: 10%; /* Ensure the image does not exceed the container's width */
    display: block; /* Remove any text alignment issues */
    margin: 0 auto; /* Center the image horizontally */
}

/* Apply a background color to the whole page */
body {
    background-color: #7e7e7e; /* Placeholder background color */
    font-family: Arial, sans-serif; /* Choose your preferred font */
}

/* Center the text within h1 elements */
h1 {
    text-align: center;
}

#portfolio-title {
    font-size: 3em; /* Adjust the size as needed */
    text-align: center; /* Center the title horizontally */
    margin-top: 20px; /* Add spacing from the top */
    color: black; /* Set the color for the title */
}

/* Apply a common style to project sections */
section {
    background-color: #5c577a;
    padding: 20px;
}

.content-container {
    max-width: 800px; /* Set the maximum width for the content */
    margin: 0 auto; /* Center the content */
}

/* Style links (a elements) */
a {
    color: rgb(48, 16, 230); /* Purple link color */
    text-decoration: underline; 
    font-weight: bold;
}

/* Change link color on hover */
a:hover {
    color: black  /* A darker purple color for hover effect */
    
}
