.logo-container {
    z-index: 0;
    width: 450px;
    height: 609px;
    position: absolute;
    top: 0;
    right: 10%;
    bottom: 0;
    left: auto;
    margin: auto;
  
    .solid-logo {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      width: 100%;
      transform: rotateZ(0deg) !important;
      z-index: 1;
      opacity:0;
      animation: rotateIn 2s linear both;
      animation-delay: 5s;
    }
  }